<header >
    <div class="header-container container">
        <div class="logo">
            <img src="./../../../assets/images/logo.svg" alt="Yosr logo" >
        </div>
        <div class="language">
            <span class="active">English</span> 
            |
            <span>عربي</span>
        </div>
        <div class="navigation">
            <nav>
                <div class="nav-item">
                    <span class="nav-item-icon"> 
                        <img src="./../../../assets/images/header-icons/qr.svg" alt="Qr code icon">
                    </span>
                    <span class="nav-item-text">
                        My QR codes
                    </span>
                </div>
                <div class="nav-item">
                    <span class="nav-item-icon"> 
                        <img src="./../../../assets/images/header-icons/notification.svg" alt="Qr code icon">
                    </span>
                    <span class="nav-item-text">
                        Notifications
                    </span>
                </div>
                <div class="nav-item">
                    <span class="nav-item-icon"> 
                        <img src="./../../../assets/images/header-icons/fav.svg" alt="favorites icon">
                    </span>
                    <span class="nav-item-text">
                        Favorites
                    </span>
                </div>
                <div class="nav-item">
                    <span class="nav-item-icon"> 
                        <img src="./../../../assets/images/header-icons/chat.svg" alt="chat icon">
                    </span>
                    <span class="nav-item-text">
                        Chats
                    </span>
                </div>
            </nav>
        </div>
        <div class="nav-user">
            <img src="./../../../assets/images/user.jpeg" alt="user image">
            <div> Kinan Alsakka</div>
            <span>
                <img src="./../../../assets/images/header-icons/dn-arrow.svg" alt="down arrow icon">
            </span>
        </div>
        <div class="nav-add-new">
            <span class="addArrow">+</span>
            <span class="nav-add-new-text">New publication </span>
        </div>
    </div>
</header>
