<div class="hero-container">
    <div class="container">
        <div class="hero-text">The best place to buy your house, sell your car or find a job.</div>
        <div class="search-box">

            <label>
                <img class="" src="./../../../assets/images/hero/whiteSearch.svg">
            </label>
            <input type="text" autocomplete="off" class="" placeholder="What Are You Looking For ?">
            <button>
                <img class="" src="./../../../assets/images/hero/whiteSearch.svg">
            </button>
        </div>
    </div>
</div>
