<footer class="footer-container">
    <div class="subscribe container">

        <span>Subscribe to our blog</span>
        <div class="subscribe-form">
            <input type="email" placeholder="write your email">
            <button type="submit"> Subscribe </button>
        </div>
    </div>
    <div class="footer-bk">
        <div class="footer-content container">
            <div class="row">
                <div class="col-3">
                    <h4>Company</h4>
                    <ul>
                        <li>About Us</li>
                        <li>Privacy Policy and Terms of Use</li>
                    </ul>
                </div>
                <div class="col-3">
                    <h4>Support</h4>
                    <ul>
                        <li>Help</li>
                        <li>Contact Us</li>
                    </ul>
                </div>
                <div class="col-3">
                    <h4>Social</h4>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Youtube</li>
                        <li>Instagram</li>
                        <li>Email</li>
                    </ul>
                </div>
                <div class="col-3">
                    <h4>Languages</h4>
                    <ul>
                        <li>English</li>
                        <li>عربي</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-rights container">
            <div class="row">
                <div class="col-6 p-0">
                    <img class="footer-logo" src="./../../../assets/images/logo.png" alt="">
                    <img class="get-app-mobile-img" src="./../../../assets/images/get-app/footermob.png" alt="">
                    <img src="./../../../assets/images/get-app/appStore.png" alt="">
                    <img src="./../../../assets/images/get-app/getGoogle.png" alt="">
                </div>
                <div class="col-6">
                    <span class="copy-rights">© 2021 Yosr All Rights Reserved</span>
                </div>
            </div>
        </div>
    </div>
</footer>
