<div class="get-app-container">
    <div class="container p-0">
        <div class="row">
            <div class="col-2 get-app-mobile">
                <img src="./../../../assets/images/get-app/footermob.png" alt="">
            </div>
            <div class="col-6 get-app-text">
                For more better experience explore our mobile app
            </div>
            <div class="col-4 row get-app-links">
                <div class="col-4 p-0 get-app-play-store">
                    <a href="https://apps.apple.com/us/app/yosr/id1544911317" target="_blank">
                        <img src="./../../../assets/images/get-app/appStore.png" alt="">
                    </a>
                </div>
                <div class="col-4 p-0 get-app-google-paly">
                    <a href="https://play.google.com/store/apps/details?id=com.nayatmc.yosr" target="_blank">
                        <img src="./../../../assets/images/get-app/getGoogle.png" alt="">
                    </a>
                </div>
                <div class="col-4 p-0 get-app-qr">
                    <img src="./../../../assets/images/get-app/download.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
